* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Billabong';
    src: url('Billabong.ttf');
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDEDED;
    margin: 0;
}

.container {
    width: 375px;
    background-color: #FFFFFF;
}


/* header styles */

.header-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #C6C6C6;
    padding: 10px;
}

.app-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Billabong', sans-serif;
    font-size: 40px;
}

.profile-img-container {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 34px;
    height: 34px;
    border: 1px solid black;
    border-radius: 50%;
    object-fit: cover;
}


/* main */
/* name-location section styles */

.name-location-container {
    display: flex;
    gap: 8px;
    padding: 10px;
}

.avatar-container {
    display: flex;
    align-items: center;
}

.avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    object-fit: cover;
}

.name-location-small-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.painter-name {
    margin: 0;
    font-size: 13px;
    font-weight: bold;
}

.painter-location {
    margin: 0;
    font-size: 12px;
}


/* main-image section styles */

.main-image {
    display: block;
    width: 375px;
    height: 375px;
}

/* bottom-section styles */

.bottom-section-container {
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding: 10px;
}
 

.three-icons-container {  /* icons styles */
    display: flex;
    gap: 8px;
}

.icon {
    width: 22px;
    height: 22px;
}


.likes-number {  /* likes styles */
    font-size: 13px;
    font-weight: bold;
}


.name {  /* comments styles */
    font-size: 13px;
    font-weight: bold;
}

.comment {
    font-size: 12px;
}

.heart:hover,  /* hover effects */
.bubble:hover,
.dm:hover {
    cursor: pointer;
    opacity: 0.5;
}


/* --- JavaScript class to separate the posts rendered dynamically --- */

.post-margin-bottom {
    margin-bottom: 20px;
}