* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Billabong';
    src: url('Billabong.ttf');
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDEDED;
    margin: 0;
}

.container {
    width: 375px;
    background-color: #FFFFFF;
}


/* Header styles */

.header-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #C6C6C6;
    padding: 10px;
}

.app-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Billabong', sans-serif;
    font-size: 40px;
}

.profile-img-container {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 34px;
    height: 34px;
    border: 1px solid black;
    border-radius: 50%;
    object-fit: cover;
}